/*
	Theme Name: vzv_Blog
	Theme URL: vzv.dev/poleznoznat/
	Description: vzv Blog theme
	Author: Dmitry
	Author URI: vzv.dev/polezno-znat/
	Version: 1.0
*/

/* Navigation between posts in single.php */
.article__prewiew__prev-article {
	  position: absolute;
    bottom: 11px;
    left: 14px;
}

.article__prewiew__prev-article span {
	display:block;
	position:relative;
	padding-left:20px;
	font-size:14px;
	line-height:24px;
	color:#fff;
}

.article__prewiew__prev-article span .icon {
	display:inline-block;
	position:absolute;
	left:0;
	top:4px;
	background-image:url(img/png-sprite/96dpi/spritevlw3adims4i.png);
	background-position: -13px -23px;
	width:9px;
	height:15px;
	background-size:65px,38px;
	background-repeat:no-repeat;
}

.article__prewiew__next-article span {
	display:block;
	position:relative;
	padding-right:20px;
	font-size:14px;
	line-height:24px;
	color:#fff;
}

.article__prewiew__next-article span .icon {
	display:inline-block;
	position:absolute;
	right:0;
	top:4px;
	background-image:url(img/png-sprite/96dpi/spritevlw3adims4i.png);
	background-position:0 -23px;
	width:9px;
	height:15px;
	background-size:65px,38px;
	background-repeat:no-repeat;
}

/* Pagination for all posts */
.previous-records a {
	font-size: 16px;
}

.pagination span {
	position: relative;
	top: 0;
}

.nav-links .current {
	   font-size: 16px;
    line-height: 24px;
    color: #005c8c;
    border-bottom: 1px solid #005c8c;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}

/* Pagination for current item in menu */
#menu-blog-menu .current-menu-item a {
	background-color: #3078c3;
  color: #fff;
}

.col .footer__menu-header {
	color: #20242a;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  padding-bottom: 22px;
}

/* Breadcrumbs style */
.content-top {
	max-width: 1204px;
	margin: 0 auto;
	color: #305c89;
	font-size: 13px;
}

.breadcrumb {
	margin: 0 27px;
	position: relative;
}

.breadcrumb span {
	color: #3078c3;
	font-size: 13px;
	font-weight: 300;
	margin-right: 5px;
}

.breadcrumb span a {
	margin: 0;
}

@media only screen and (max-width: 9990px) and (min-width: 1740px) {
	.content-top {
		max-width: 1430px;
	}
}

/* Thumbnail and author for post */
.article-pewiew__image img {
    height: auto;
}

.author-photo img {
	height: 100%;
}

/* Social styles */
.categories	{
padding-bottom: 30px;
}

#vk_groups {
	margin: 0 auto;
}

#ok_group_widget {
	padding: 0 56px;
}

/* Terms style */
.termins-wrapper__content .grid-item {
	position: relative;
  padding: 17px 0 6px 71px;
  border-bottom: 1px solid #e9e9ea;
}

.termins-wrapper__content .grid-item h2 {
	position: absolute;
	left: 0;
	font-size: 15px;
	font-weight: 700;
	color: #305c89;
}

.glossary .title {
	padding-bottom: 10px;
}

.glossary .title a {
	outline: none;
	font-weight: normal;
	font-size: 13px;
	color: #005c8c;
  border-bottom: 1px solid transparent;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.glossary .title a:hover {
	font-weight: 700;
	border-bottom: 1px solid #005c8c;
}

.entry p em {
	font-size: 16px;
}

.glossary .share {
	margin-top: 20px;
}

.pluso-010010010110-04 .pluso-wrap a {
	margin-right: 5px !important;
}